<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="{% static 'main/img/profile.png' %}" alt="">
        <div class="intro-text">
          <span class="name">Now You Can See Me!</span>
          <hr class="star-light">
          <span class="skills">Full Stack Web Developer - Data Scientist - Soccer Fanatic</span>
          <br><br><br><br><br>
          <p>Database(PostgreSQL) is done for now.</p>
          <p>Hurray! Mail server is functional too! <a style="color: rgb(0,255,0)" href="#contact">Shoot me an email below</a>!</p>
        </div>
      </div>
    </div>
  </div>
</header>
